
body {
    background-color: rgba(34,34,34,1.00);
}

.menu {
    position: absolute; 
    margin: 0px; 
    left:50px; top: 16px; width: 34px; 
    height: 31px; right: auto; bottom: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.home {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34,34,34,1.00);
    z-index:0;
    transition: 0.3s ease-in-out;
   
}

.menuButton {
    position: absolute;
    top:15px;
    left: 10px;
    width: 25px;
    height: auto;
    -webkit-transform: rotate(0deg);
    -webkit-transform-style: preserve-3d;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}
.menuButton div.line{
    margin-bottom:5px;
    width: 25px;
    height: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.menuButton div.lastLine{
    margin-bottom:0px;
}
.menuButton div.isClicked{
    margin:0px;
    width: 60px;
    height: 60px;
    position: absolute;
    top:-130%;
    left: -70%;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 100%;
    opacity: 0;
    transform: scale(0, 0);
    -webkit-animation-name: buttonClick;
    -webkit-animation-duration:0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes buttonClick{
0%{ 
    -webkit-transform: scale(0, 0);
    opacity: 0;
    }
99%{ 
    -webkit-transform: scale(1.2, 1.2);
    opacity: 1;
    }
    100%{ 
    -webkit-transform: scale(0, 0);
    opacity: 0;
    }
}
@keyframes buttonClick{
0%{ 
    transform: scale(0, 0);
    opacity: 0;
    }
99%{ 
    transform: scale(1.2, 1.2);
    opacity: 1;
    }
100%{ 
    transform: scale(0, 0);
    opacity: 0;
    }
}



.toRight .menuButton{
    transform: rotate(90deg);
}

div.home.toRight{
 transform: translateX(70%) scale(0.8,0.8);
}


.menus {
    position: absolute;
    height: auto;
    width: 100%;
    top: 70px;
}

.subMenus > div:nth-child(1){
    position: absolute;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: rgb(34,34,34);
    color:rgb(83, 225, 130);
    z-index: 1;
    top: -20px;
    left: -10px
}
.subMenus div i{
    position: relative;
    font-size: 20px;
    top:12px;
    left: 15px;
}

.subMenus {
    position: relative;
    opacity: 0;
    transform: opacity;
    transition: 1s ease-in-out;
    opacity: 1;
    margin: 0;
    margin-bottom: 20px
}

.subMenusContent {
    position: relative;
    z-index: -1;
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 3px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 3px 3px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    background-color: rgb(83, 225, 130);
}
.subMenusContent .icons{
 position: absolute;
 right: 12px;
 font-size: 24px;
 top:7px;
 color : #4AC471;
    
}

.subMenusContentTitle {
    position: relative;
    margin: 0px;
    top: 8px;
    width: 100%;
    height: 31px;
    right: auto;
    bottom: auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-decoration: none;
    font-style: normal;
    text-align: center;
}

.subMenuContentImage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 79px;
    -webkit-background-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: url(/images/Capture.PNG);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;  
}

.transparent {
    position: relative;
    border-top:2px solid #4AC471;
    height: 100%;
    width: 100%;
    background: rgba(83, 225, 130,0.8);
   
}
.temperature{
 
}
.temperature .subMenusContent .subMenuContentImage{
  height: 160px;
}
.temperature .subMenusContent{
    height: 200px;
}



