@media only screen and (max-width:1366px) {

	.subMenus {
		float:  left;
		width:  50%;
	}
    .subMenus.temperature {
		width:  100% ;
		clear: left;
	}

}
@media only screen and (max-width:400px) {
	.subMenus {
		width:  auto;
		float:  none;
	}
}
